# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
indent_size = 2

[*.{py,sh}]
indent_size = 4
