apiVersion: v2
name: keycloakx
version: 7.1.5
appVersion: 26.4.5
description: Keycloak.X - Open Source Identity and Access Management for Modern Applications and Services
keywords:
  - sso
  - idm
  - openid connect
  - saml
  - kerberos
  - oauth
  - ldap
  - keycloakx
  - quarkus
home: https://www.keycloak.org/
icon: https://www.keycloak.org/resources/images/keycloak_logo_200px.svg
sources:
  - https://github.com/codecentric/helm-charts
  - https://github.com/keycloak/keycloak/tree/main/quarkus/container
maintainers:
  - name: thomasdarimont
    email: thomas.darimont+github@gmail.com
