{{- if and (.Values.auth.enabled) (not .Values.auth.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "mailhog.labels" . | nindent 4 }}
  name: {{ template "mailhog.authFileSecret" . }}
  namespace: {{ .Release.Namespace | quote }}
type: Opaque
data:
  {{ .Values.auth.fileName }}: {{ .Values.auth.fileContents | b64enc }}
{{- end -}}
