name: Close stale issues

on:
  schedule:
    - cron: "0 12 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: This issue has been marked as stale because it has been open for 30 days with no activity. It will be automatically closed in 10 days if no further activity occurs.
          stale-pr-message: This pull request has been marked as stale because it has been open for 30 days with no activity. It will be automatically closed in 10 days if no further activity occurs.
          exempt-issue-labels: keep open
          exempt-pr-labels: keep open
          days-before-stale: 60
          days-before-close: 10
